
/*学习此视频的网址-http://edu.51cto.com/course/course_id-3282.html*/
article,aside,footer,header,section,footer,nav,figure,menu,main{
	display: block;/*为了适配IE11浏览器*/
}


*{
	padding: 0;
	margin: 0;
	font: inherit;
}
/*通用样式*/
body{
	background-color: #ffffff;
	font: 14px "微软雅黑", "黑体", arial, sans-serif;
	color: #333333;
	border-top: 8px solid #006f47;
}

ul{/*无序标签*/
	list-style-type: none; /*去掉小黑点*/
}

/*外部盒子*/
.wrap{
	width: 960px;
	margin: 0 auto;
}
/*头部*/
.top-header{
	margin: 10px 0;
	height: 120px;
}
/*logo*/
.starbucks-logo{
	float:  left;
	margin-left: 20px;
}
/*导航*/
.top-menu{
	float: left;
	margin-top: 83px;
	margin-left: 30px;
}
.top-menu ul li{
	display: inline;/*可以水平显示*/
	background-color: #EFE5D0;
	padding: 5px 10px;
	margin: 0 px;
}
.top-menu ul li.selected{
	background-color: #c8b99c;
}
.top-menu ul li a:link, .top-menu ul li a:visited{
	color: #006f47;
	text-decoration: none;
	font-weight: bold;
}

/*侧边栏*/
.left-aside{
	float: left;
	width: 350px;
}
.left-aside section{
	background: #efe5d0 url(img/background.gif) top left ;
	padding: 20px;
	margin-bottom: 10px;
}
.left-aside h3{
	color: #006f47;
	font-size: 1.2em;
	margin-bottom: 10px;
}
/*星享之旅*/
.news p{
	line-height: 1.8em; /*行间距*/
}
.news a{
	text-decoration: none; /*无下划线*/
	color: #006F47;
}

/*饮品*/
.drinks figure{
	/*浮动标签*/
	float: left;
}
/*左侧间距*/
.drinks .figure-r{
	margin-left: 20px;
}
.drinks figure img{/*每排两张*/
	width: 141px;
	height: 158px;
	border: 2px solid #FFFFFF;
}
.drinks figcaption{
	text-align: center;
	margin-bottom: 10px;
}

.clear{
	clear: both;
}
/*主内容区域*/

main{
	background: #efe5d0 url(img/background.gif) top left ;
	padding: 20px;
	margin-left: 360px;
}
main article{ /*文章的间隔线 虚线*/
	border-bottom: 1px dashed #c8b99c;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
main .last-arctcle{/*清除最后一个虚线*/
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
main article h3{
	color: #006f47;
	font-size: 1.2em;
	margin-bottom: 10px;
}
main article time{
	color: #006F47;
}
main article p{ /*段落之间的间距*/
	line-height: 1.5em;
	text-indent: 30px;
	margin: 10px 0;
}
main article b{ /*加粗*/
	font-weight: bold;
	color: #675c47;
}
main article small{/*small标签*/
	color: #808080;
	font-size: 0.8em;
}


/*页脚*/
.page-footer{
	clear: both;
	padding:15px;
	margin-top: 10px;
	background-color: #675c47;
	color: #efe5d0;
	text-align: center;
	font-size: 90%;
}


/*form.html*/
/*表单*/
main.form{
	margin-left: 0;
}
main.form h3{
	color: #006F47;
	font-size: 1.2em;
	margin-bottom: 10px;
	text-align: center;
}
main.form form{
	display: table;
	width: 900px;
	padding: 10px;
}
main.form.row{
	display: table-row;
}
main.form.cell{
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}
main.form.row.cell:first-child{
	text-align: right;
	padding-right: 20px;
}






